<div class="inventory-layout">

    <div class="inventory-group">
        <div class="inventory-header flexrow">
            <h3 class="item-name">ARMAS</h3>
            <div class="item-detail" style="flex: 0 0 70px; text-align: center;">USO</div>
            <div class="item-detail" style="flex: 0 0 50px; text-align: center;">DANO</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Adicionar Arma" data-type="arma">
                    <i class="fas fa-plus"></i> Add
                </a>
            </div>
        </div>
        <ol class="item-list">
            {{#each armas as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image item-open" style="cursor: pointer;">
                    <img src="{{item.img}}" width="24" height="24" />
                </div>

                <h4 class="item-name item-open" style="cursor: pointer; color: #aaddff; font-weight: bold;">
                    {{item.name}}
                </h4>

                <div class="item-detail item-uso" style="flex: 0 0 70px; text-align: center;">
                    
                    {{#if (eq item.system.uso "-")}}
                        <span style="color: #4da; font-size: 1.2em;" title="Munição Infinita">∞</span>
                    
                    {{else if (eq item.system.uso "0")}}
                        <span style="color: #f44; font-weight: bold;" title="Arma Vazia!">0</span>
                    
                    {{else}}
                        {{#if (eq @root.actor.type "veiculo")}}
                            <span style="color: #888; font-weight: bold; cursor: default;" title="Item Armazenado">{{item.system.uso}}</span>
                        {{else}}
                            <a class="roll-usage" data-item-id="{{item._id}}" title="Testar Munição (Rolar {{item.system.uso}})">
                                <i class="fas fa-dice"></i> {{item.system.uso}}
                            </a>
                        {{/if}}
                    {{/if}}

                </div>

                <div class="item-detail" style="flex: 0 0 50px; color: #ff4444; font-weight:bold; text-align: center;">
                    {{item.system.dano}}
                </div>

                <div class="item-controls">
                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>

    <div class="inventory-group">
        <div class="inventory-header flexrow">
            <h3 class="item-name">EQUIPAMENTOS</h3>
            <div class="item-detail" style="flex: 0 0 60px; text-align: center;">RD</div>
            <div class="item-detail" style="flex: 0 0 50px; text-align: center;">QTD</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Adicionar Equipamento" data-type="equipamento">
                    <i class="fas fa-plus"></i> Add
                </a>
            </div>
        </div>
        <ol class="item-list">
            {{#each equipamentos as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image item-open" style="cursor: pointer;">
                    <img src="{{item.img}}" width="24" height="24" />
                </div>

                <h4 class="item-name item-open" style="cursor: pointer; {{#if item.system.equipped}}color: #4da; text-shadow: 0 0 5px rgba(77,221,170,0.3);{{else}}color: #888;{{/if}}">
                    {{item.name}}
                    {{#if item.system.equipped}}<i class="fas fa-shirt" style="font-size: 0.7em; margin-left: 5px;" title="Equipado"></i>{{/if}}
                </h4>

                <div class="item-detail item-rd" style="flex: 0 0 60px; text-align: center;">
                    {{#if (gt item.system.rd 0)}}
                        <div style="display: flex; align-items: center; justify-content: center; gap: 5px;">
                            <span title="Valor de Proteção" style="color: #aaddff; font-weight: bold;">
                                <i class="fas fa-shield-alt"></i> {{item.system.rd}}
                            </span>
                            
                            {{#unless (eq @root.actor.type "veiculo")}}
                            <a class="degrade-armor" data-item-id="{{item._id}}" title="Danificar Armadura (-1 RD)">
                                <i class="fas fa-hammer" style="font-size: 0.8em; color: #555;"></i>
                            </a>
                            {{/unless}}
                        </div>
                    {{else}}
                        <span style="color: #444;">-</span>
                    {{/if}}
                </div>

                <div class="item-detail" style="flex: 0 0 50px; text-align: center;">
                    {{item.system.quantity}}
                </div>

                <div class="item-controls">
                    <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>

    <div class="inventory-group">
        <div class="inventory-header flexrow">
            <h3 class="item-name">DIVERSOS / SUCATA</h3>
            <div class="item-detail" style="flex: 0 0 50px; text-align: center;">QTD</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Adicionar Item" data-type="item">
                    <i class="fas fa-plus"></i> Add
                </a>
            </div>
        </div>
        <ol class="item-list">
            {{#each itens as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image item-open" style="cursor: pointer;">
                    <img src="{{item.img}}" width="24" height="24" />
                </div>

                <h4 class="item-name item-open" style="cursor: pointer; color: #bbccdd;">
                    {{item.name}}
                </h4>

                <div class="item-detail" style="flex: 0 0 50px; text-align: center; color: #888;">
                    {{item.system.quantity}}
                </div>

                <div class="item-controls">
                    <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}

            {{#unless itens}}
            <li class="item flexrow"
                style="padding: 5px; color: #444; font-size: 0.8em; justify-content: center; border: 1px dashed #222;">
                Nenhum item diverso.
            </li>
            {{/unless}}
        </ol>
    </div>

</div>