<form class="{{cssClass}} item-sheet-habitante" autocomplete="off">
    
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Nome do Projeto (Ex: Enfermaria)"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">ESTRUTURA DO REFÚGIO</h4>
            </div>
        </div>
    </header>

    <div class="sheet-body">
        
        <section class="status-row">
            
            <div class="status-group">
                <label><i class="fas fa-coins"></i> CUSTO DE CONSTRUÇÃO</label>
                <div class="resource-inputs">
                    <input type="text" name="system.custo" value="{{system.custo}}" placeholder="Ex: 50 Recursos + 2 Peças" style="width: 100%; font-size: 0.9em;"/>
                </div>
            </div>

            <div class="status-group">
                <label><i class="fas fa-hammer"></i> STATUS DA OBRA</label>
                <div class="resource-inputs">
                    <select name="system.estado" style="background: transparent; color: #fff; border: 1px solid #444; border-radius: 4px; padding: 2px;">
                        {{selectOptions config.projectStatus selected=system.estado localize=true}}
                    </select>
                </div>
            </div>

        </section>

        <hr>

        <section class="bio-section">
            <label class="bio-label"><i class="fas fa-clipboard-list"></i> DETALHES E BENEFÍCIOS</label>
            <div class="bio-editor">
                {{editor system.notas target="system.notas" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
        </section>

    </div>
</form>